<%- include('includes/header'); %>
<% if(typeof (data) !== 'undefined') { %>
    <h1><%= data.username %></h1>
<% } %>


<section class="container">
    <div class="row">

        <div class="row justify-content-center">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header"><%=currentUser.name%></div>

                    <div class="card-body">
                        <div id="chat-sidebar">
                            <% users.forEach((user, index)=>{ %>
                            <div id="sidebar-user-box" class="user" uid="<%- user.id %>">
                                <img src="/assest/img/<%- user.img %>">
                                <span id="slider-username"><%- user.name %></span>
                                <span class="user_status user_<%- user.id %>">&nbsp;</span>
                            </div>
                            <% }) %>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

</section>

<script >
    var user_id='<%-currentUser.id%>' ;
    var username='<%-currentUser.name%>' ;
</script>
<%- include('includes/footere') %>